<template name="storeAddAds">
    <main class="ui container">
        <div class="ui two column centered grid">
            <div class="column">
                <div class="ui attached message">
                    <div class="header">
                        Создать объявление
                    </div>
                    <p>Поля отмеченные звездочкой обзательны для заполнения</p>
                </div>
                <form class="ui form attached fluid segment">
                    <div class="field">
                        <label>Gender</label>
                        <div class="ui fluid selection dropdown">
                            <input name="gender" type="hidden" value="female">
                            <i class="dropdown icon"></i>
                            <div class="text">Default Value</div>
                            <div class="menu">
                                <div class="header">
                                    <i class="tags icon"></i>
                                    Tag Label
                                </div>
                                <div class="item">Choice 1</div>
                                <div class="item">Choice 2</div>
                                <div class="item">Choice 3</div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>First Name</label>
                            <input placeholder="First Name" type="text">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input placeholder="Last Name" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label>Username</label>
                        <input placeholder="Username" type="text">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password">
                    </div>
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="terms">
                            <label for="terms">I agree to the terms and conditions</label>
                        </div>
                    </div>
                    <div class="ui blue submit button">Submit</div>
                </form>
                <div class="ui bottom attached warning message">
                    <i class="icon help"></i>
                    Already signed up? <a href="#">Login here</a> instead.
                </div>
            </div>
        </div>
    </main>
</template>