<template name="imageGallery">
    <div class="container">
        <div class="ui compact raised segments">
            <div class="ui piled segment">
                <img class="ui centered fluid image" src="/matthew.png">
            </div>
        </div>
        <div class="ui grid center aligned four wide ">
            <div class="column">
                <div class="ui tiny images">
                    <img class="ui bordered rounded image" src="/matthew.png">
                    <img class="ui bordered rounded image" src="/matthew.png">
                    <img class="ui bordered rounded image" src="/matthew.png">
                    <img class="ui bordered rounded image" src="/matthew.png">
                    <img class="ui bordered rounded image" src="/matthew.png">
                </div>
            </div>
        </div>
    </div>
</template>