<template name="itemHeader">
    <div class="ui grid">
        <div class="twelve wide column">
            <h2 class="ui header">
                Account Settings
                <div class="sub disabled header">Manage your account settings and set e-mail preferences.</div>
            </h2>
        </div>
        <div class="four wide right floated right aligned column">
            <div class="ui labeled button">
                <div class="ui button">
                    <i class="heart icon"></i> Like
                </div>
                <a class="ui basic left pointing label">
                    2,048
                </a>
            </div>
        </div>
    </div>
</template>