<template name="itemDetails">
    <div class="container">
        <div class="ui huge labels">
            <div class="ui red label">$3000</div>
            <div class="ui teal label">Featured</div>
        </div>
        <table class="ui very basic collapsing celled table">
            <tbody>
                <tr class="top aligned">
                    <td class="right aligned">Item:</td>
                    <td>New other (see details)</td>
                </tr>
                <tr class="top aligned">
                    <td>
                        <div class="ui right aligned">Item:</div>
                    </td>
                    <td>New other (see details)<br>
                        New other (see details)<br>
                        New other (see details)<br>
                        New other (see details)<br>
                        New other (see details)
                        New other (see details)
                        New other (see details)
                        New other (see details)
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">Item condition:</td>
                    <td>New other (see details)</td>
                </tr>
                <tr>
                    <td class="right aligned">Item condition:</td>
                    <td>New other (see details)</td>
                </tr>
                <tr>
                    <td class="right aligned">Item condition:</td>
                    <td>New other (see details)</td>
                </tr>
                <tr>
                    <td class="right aligned">Item condition:</td>
                    <td>New other (see details)</td>
                </tr>
            </tbody>
        </table>
        <div class="ui horizontal list">
            <div class="item">
                <img class="ui avatar image" src="/matthew.png">
                <div class="content">
                    <a class="header">Rachel</a>
                    Top Contributor
                </div>
            </div>
            <div class="item">
                <button class="ui primary button" id="send-message">
                    Send message
                </button>
                <div class="ui small modal">
                    <i class="close icon"></i>
                    <div class="header">Написать отзыв</div>
                    <div class="content">
                        <div class="ui large form">
                            <div class="required field">
                                <label>Как Вас зовут?</label>
                                <input type="text" placeholder="Full Name">
                            </div>
                            <div class="required field">
                                <label>Что Вы думаете об этом товаре?</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui approve button">Approve</div>
                        <div class="ui button">Neutral</div>
                        <div class="ui cancel button">Cancel</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>