<template name="storeCategoryOptions">
    <div class="{{visibility}} field">
        <div id="store-category-input-dd" class="ui fluid selection dropdown">
            <input type="hidden" value="">
            <i class="dropdown icon"></i>
            <div class="text">Please, choose a category</div>
            <div class="menu">
                {{#each option in options}}
                    <div class="item" data-option-id="{{option._id}}">{{option.name}}</div>
                {{/each}}
            </div>
        </div>
    </div>

    <!--{{> storeCategoryOptions categoryId=option}}-->
</template>