<template name="authorization">
    <main class="ui container">
        <div class="ui hidden divider"></div>
        <div class="ui middle aligned four column centered grid">
            <div class="row">
                <div class="center aligned column">
                    <h2 class="ui teal image header">
                        <a href="/">
                            <img src="/logo.png" class="ui tiny image">
                        </a>
                    </h2>
                    <h5 class="ui header">Some text</h5>
                </div>
            </div>
        </div>
        <div class="ui three column centered grid">
            <div class="column">
                <div class="ui top attached tabular menu">
                    <a class="active item" data-tab="first">
                        <i class="arrow circle right icon"></i>
                        Sign in
                    </a>
                    <a class="item" data-tab="second">
                        <i class="add user icon"></i>
                        Registration
                    </a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="first">
                    <div class="ui center aligned basic segment">
                        <button class="ui facebook button">
                            <i class="facebook icon"></i>
                            Facebook
                        </button>
                        <button class="ui google plus button">
                            <i class="google plus icon"></i>
                            Google Plus
                        </button>

                        <div class="ui horizontal divider">
                            Or
                        </div>

                        <form class="ui form">
                            <div class="ui stacked very padded">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" name="email" placeholder="E-mail address">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui two column grid">
                                        <div class="left aligned column">
                                            <div class="ui checkbox">
                                                <input type="checkbox" name="example">
                                                <label>Make my profile visible</label>
                                            </div>
                                        </div>
                                        <div class="right aligned column">
                                            <a class="item" href="#">Forget password?</a>
                                        </div>
                                    </div>
                                </div>
                                <button class="big fluid ui green button">Fits container</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="second">
                    <div class="ui center aligned basic segment">
                        <form class="ui large form">
                            <div class="field">
                                <div class="ui fluid left icon input">
                                    <input type="text" placeholder="Username">
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="text" placeholder="E-main">
                                    <i class="mail icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui grid">
                                    <div class="eight wide column">
                                        <div class="ui left icon input">
                                            <input type="password" placeholder="Password">
                                            <i class="lock icon"></i>
                                        </div>
                                    </div>
                                    <div class="eight wide column">
                                        <div class="ui left icon input">
                                            <input type="password" placeholder="Confirm password">
                                            <i class="lock icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>By creating an account, you agree with the <a href="#">Terms</a> and <a href="#">Conditions</a>.</p>
                            <button class="big fluid ui green button">Fits container</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>