<template name="auth">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui top attached tabular menu">
                <a class="active item" data-tab="first">
                    <i class="arrow circle right icon"></i>
                    Sign in
                </a>
                <a class="item" data-tab="second">
                    <i class="add user icon"></i>
                    Registration
                </a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="first">
                <div class="ui basic segment">
                    {{> atForm state='signIn'}}
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="second">
                <div class="ui basic segment">
                    {{> atForm state='signUp'}}
                </div>
            </div>
        </div>
    </div>
</template>