<template name="authContent">
    <main class="ui container">
        <div class="ui hidden divider"></div>
        <div class="ui middle aligned four column centered grid">
            <div class="row">
                <div class="center aligned column">
                    <h2 class="ui teal image header">
                        <a href="/">
                            <img src="/logo.png" class="ui tiny image">
                        </a>
                    </h2>
                    <h5 class="ui header">Some text</h5>
                </div>
            </div>
        </div>
        {{> Template.dynamic template=main}}
    </main>
</template>