<head>
    <title>Wall</title>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="fragment" content="!" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="general" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>

<template name="header">
    <div class="ui stackable borderless menu">
        <div class="ui container">
            <a class="item">
                <i class="home icon"></i> Home
            </a>
            <a class="item">
                <i class="grid layout icon"></i> Browse
            </a>
            <a class="item">
                <i class="mail icon"></i> Messages
            </a>
            <div class="ui simple dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i> Edit Profile</a>
                    <a class="item"><i class="globe icon"></i> Choose Language</a>
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                </div>
            </div>
            <div class="right menu">
                <a class="ui simple dropdown item">
                    <i class="user icon"></i>
                    Профайл
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item"><i class="edit icon"></i> Edit Profile</div>
                        <div class="item"><i class="globe icon"></i> Choose Language</div>
                        <div class="item"><i class="settings icon"></i> Account Settings</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <header class="ui container">

        {{> headerMenu}}
        {{!-- > navbar --}}
        {{!-- > breadcrumb --}}

        <!--<div class="ui hidden divider"></div>-->
    </header>
</template>